/* App.js css */
.material-icons {
  color: #fff;
}

.header-color {
  background: black; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    black,
    black
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    black,
    black
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed-top;
}

.links {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

.material-icons {
  background-color: black;
  color: white;
}

/* Landing Page css */

.container {
  width: 100%;
  height: 100vh;
}
#row1 {
  /*background: url("files/modelto.jpg") center / cover no-repeat;*/
  width: 100vw;
  height: 100vh;
}

#landing-grid {
  text-align: center;
  position: fixed;
  margin: 0, 0, 0, 0;
  width: 100%;
  height: 100%;
  align-content: center;
  background-size: cover;
  background-position: center center;
}

.projects-grid {
  /*display: flex; 
  padding: 50px;*/
}

.avatar-img {
  height: 150px;
  padding-top: 2em;
  display: inline;
  margin: 0 auto;
}

.banner-text {
  box-shadow: 1px 2px 20px #000;
  background-color: black;
  opacity: 0.8;
  width: 65%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 3.8rem;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 3.8rem;
  padding: 8px;
}

/* Resume Page css */
.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

.pdfview object {
  align: middle;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

#contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  color: white;
  margin-bottom: 20px;
}

#contact-grid h2 {
  font-family: "Oxygen", sans-serif;
  font: bold;
}

#contact-grid p {
  font-family: "Oxygen", sans-serif;
}

#contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}
#contact-a-1 {
  color: white;
}
#contact-a-2 {
  color: white;
}

/* project page css */
#card-progject-1 {
  color: "#fff";
  height: "176px";

  width: "100%";
}

#tabs {
  color: "white";
}

/* blog page css */
#blog-card {
  font-family: "Roboto", sans-serif;
}

.invisible-button {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-bottom: 180px;
}

/* Queries */

@media only screen and (max-width: 1290px) {
  .mdl-list__item-primary-content {
    font-size: 1.4rem;
  }
  .mdl-list__item-primary-content i {
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 815px) {
  .banner-text h1 {
    font-size: 3rem;
  }
  .social-links i {
    font-size: 3rem;
  }
  .banner-text p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 645px) {
  .banner-text h1 {
    font-size: 2rem;
  }
  .social-links i {
    font-size: 2.6rem;
  }
  .banner-text p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 496px) {
  .mdl-list__item-primary-content {
    font-size: 1.1rem;
  }
  .mdl-list__item-primary-content i {
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .banner-text h1 {
    font-size: 1.5rem;
  }
  .social-links i {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 372px) {
  .mdl-list__item-primary-content {
    font-size: 0.9rem;
  }
  .mdl-list__item-primary-content i {
    padding-right: 1rem;
  }
  .banner-text p {
    font-size: 0.8rem;
  }
}
